page-register {
    .content{
       // background-color: cadetblue; 
        background-image: url("../assets/img/background2.jpg");
        background-repeat: no-repeat;
    }
    .item{
        background-color: rgba(0,0,0,0.5);
        border-radius: 5px;
        color: azure;
    }
}
